*{
    text-align: center;
    color: gold;
    /* background-color: navy;  */
    font-family: 'Oswald', sans-serif;  
    background-image: url(https://cdn.wallpapersafari.com/89/3/HVE5bi.jpg);
}
 body {
     padding: 0;
     margin: 0;
     display: flex;
     width: 100vw;
     height: 100vh;
     justify-content: center;
     align-items: center;

 }


.container{
    position: absolute;
    width: 250px;
    height: 320px;
    font-family: 'Oswald', sans-serif;
    
  
}

.card{
    align-content: center;
    / position: absolute; 
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
   
}

.flipped {
    transform: rotateY(180deg)
}

#frontOfCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: gold;
    color: #333;
}

#backOfCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    color:#333;
    transform: rotateY(180deg);
} 