/* *{
    text-align: center;
    color: black;
    background-color: navy; 
    /font-family: 'Oswald', sans-serif;  */ 

 


.container{
    position: absolute;
    width: 250px;
    height: 320px;
    font-family: 'Oswald', sans-serif;
    
  
}

.card{
    align-content: center;
    /* poistion: absolute; */
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
   
}

.card:hover {
    transform: rotateY(180deg)
}

.frontOfCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: gold;
    color: #333;
}

.backOfCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    color:#333;
    transform: rotateY(180deg);
}